<%- include("partials/header2")-%>
<div class="row " style="text-align: center;">
    <div class="col-lg-4">

    </div>
    <div class="col-lg-4">
        <form action="/download" method="POST" id="formdownload">
            <p style="color: white; font-size: 2rem; margin-top: 2%;">Click here to download zip</p>
            
            <button type="submit" value="download" class="sub">DOWNLOAD ZIP<i class="fas fa-download"></i></button>
            <p style="color: white; font-size: 2rem; margin-top: 2%;margin-bottom: 45%;" class="thanks">Thanks for downloading!</p>
        </form>
    </div>
</div>

<%- include("partials/footer")-%>