.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    margin-right: 68%;
}

.navbar {
    text-transform: none;
    padding-top: 1%;
    padding-bottom: 1%;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {

    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    max-width: 100%;
}

body {
    background-color: #000;
    background-image: url("/bg.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    z-index: -1;
}

.bg-primary {
    background-color: #1a1a1a85 !important;
}

.name {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    text-transform: none;
    color: rgba(255, 255, 255, 0.966);
    text-align: center;
}

h3 {
    text-align: center;
    color: rgba(0, 0, 0, 0.61);
}

.logo,
.logo-nav {
    display: inline-block;


}

.logo {
    width: 80px;
    height: 100px;
    margin-right: 2.5%;

}

.logo-nav {
    width: 30px;
    height: 38px;
    margin-right: 4%;
}

.footer {
    margin-bottom: 0%;
    margin-top: 10%;


}

.cent {
    text-align: center;
    margin: auto;
    color: whitesmoke;
}



.nav1 {
    float: left;
    /* border-style: groove; */
    padding: 2% 0% 2% 0%;
    background-color: rgba(255, 255, 255, 0.623);
    transition: background-color 0.5s ease;
    

}

.fas {
    margin-right: 4px;
}

.nav1:hover {
    background-color: white;
    cursor: pointer;
}

.nav1.active {
    background-color: white;
}

#nav4 {
    border-right: none;
}

#box1 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 16%;
    margin-top: 10%;
    margin-right: 16%;
    clear: both;

}
/* .box2 {
    background-color: white;
    padding: 4%;
} */
.a1 {
    background-color: white;
    padding: 6%;
    
}
.b1 {
    background-color: white;
    padding: 6%;
   
}
.b2{
    display: none;
}
.c2{
    display: none;
}
.d2{
    display: none;
    
}
.c1 {
    background-color: white;
    padding: 6%;
   
}
.d1 {
    background-color: white;
    padding: 6%;
    
}
.mid{
    margin-left: auto;
    margin-right: auto;
}
.line{
    height: 4px;
    width: 65%;
    border-width: 0px;
    background-color: rgb(117, 100, 163);
}


input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    /* background-color: rgb(132, 119, 168); */
    padding: 2%;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(117, 100, 163);
    transition:box-shadow 0.1s;
    
    width: 100%;
    opacity: 3;
    color: rgb(132, 119, 168);
    box-sizing: border-box;
    border-width: thick;
    display: inline-block;


}
input[type=text]:focus{

    box-shadow: 6px 6px 5px rgba(117, 117, 117, 0.89);
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(117, 100, 163);
    opacity: 10;
    font-size: 1rem;
}

input[type=submit],.sub {
    border-radius: 2%;
    width: 80%;
    border-style: groove;
    padding: 4%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 7%;
    border-color: rgb(117, 100, 163);
    border-width: 0.1rem;
    background-color: rgb(164, 153, 196);
    color: white;

}
.line1{
width: 90%;
height: 3px;
background-color: rgb(117, 100, 163);
border-width: 0px;
margin: 2px auto 0px auto;
}


/* loader */
.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  
}
.loader {
  margin: 0% 25% 0 25%;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(142,99,176, 0.2);
  border-right: 1.1em solid rgba(142,99,176, 0.2);
  border-bottom: 1.1em solid rgba(142,99,176, 0.2);
  border-left: 1.1em solid #8e63b0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  visibility: hidden;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.loadertext{
    visibility: hidden;
    color: chocolate;
}
.text{
    color : red;
}
.thanks{
    visibility: hidden;
}


/* /* label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
} */

label.error.fail-alert {
    color: red;
    line-height: 1;
    padding: 3px 0 6px 0;
    margin-right: 5px;
    
}

/* input.valid.success-alert {
    border: 2px solid #4CAF50;
    color: green;
} */ */

input.error, textarea.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

